{% extends 'base.html' %}

{% block content %}
	<div class="float-right">
		<a class="btn btn-success" href="{% url 'crispy:add' %}"><i class="fa fa-plus"></i>Add Person</a>
	</div>
	<br>
	{% for person in person_list %}
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">{{ person.name }} - {{ person.job_title }}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{ person.email }}</h6>
				<p class="card-text">{{ person.bio }}</p>
				<div style="text-align: center">
					<a href="{% url 'crispy:edit' person.pk %}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
					<a href="{% url 'crispy:delete' person.pk %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}